<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.fhj.demo" >

    <!-- try activating either coarse or fine and re-run `gradle lint` to see how
         these permissions are recognized by the LocationUsageWithoutPermission rule -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/appName" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReceiverActivity"
            android:label="@string/title_activity_receiver" >
        </activity>
        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation" >
        </activity>
        <activity
            android:name=".NavigationActivity2"
            android:label="@string/title_activity_navigation" >
        </activity>
        <activity
            android:name=".NavigationActivity3"
            android:label="@string/title_activity_navigation" >
        </activity>

        <receiver
            android:name=".FailingReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="at.fhj.demo.START_FAILING_RECEIVER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".WorkingReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="at.fhj.demo.START_WORKING_RECEIVER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
